{
	"application": {
		"title": "My Example Project",
		"url": "http://example.org/myProjectPath/",
		"uri": "/var/www/myProjectPath/"
		"installMode": "dev",
		"installType": "link"
	},
	"sources": {
		"Local_CM_Public": {
			"active": true,
			"title": "Local copy of public module library maintained by Ceus Media",
			"type": "folder",
			"path": ""
		}
	},
	"modules": {
		"App_Site": {},
		"Resource_Database": {
			"sourceId": "Local_CM_Public",
			"config": {
				"access.username": "username",
				"access.password": "password"
			}
		}
	}
}
