includes:
#	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80100
	level: 5
	paths:
		- src
	editorUrl: 'phpstorm://open?file=%%relFile%%&line=%%line%%'
	editorUrlTitle: '%%relFile%%:%%line%%'
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
