includes:
#	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80100
	level: 6
	paths:
		- ../src
	excludePaths:
		- src/classes/Module/Reader.php
	editorUrl: 'phpstorm://open?file=%%relFile%%&line=%%line%%'
	editorUrlTitle: '%%relFile%%:%%line%%'
	treatPhpDocTypesAsCertain: false
